#Inici ListForm
<hr class="my-0">
<form method="post" action="" id="SearchClientesConta">  
	 <div class="card-header">
		<div class="row mb-1">
			<div class="col-md-2 col-sm-12">
				INPUT
			</div>
			

            <div class="col-md-2 col-12 text-center">
				<button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search mr-2"></i>{{trans('search')}}</button>
			</div>
		</div>
	</div>
